@model List<Instrument>
@{
    ViewBag.Title = "Instranomalies";
}

<table class="table table-dark table-striped" style="color: gold">
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Category</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var instrument in Model)
        {
            <tr>
                <td>@instrument.Name</td>
                <td>@instrument.Year</td>
                <td>@instrument.Category.Name</td>
                <td>@instrument.Description</td>
                <td>
                    <a asp-controller="Instrument" asp-action="Edit" asp-route-id="@instrument.InstrumentId" 
                        asp-route-slug="@instrument.Slug" class="btn btn-primary">Edit</a>
                    <a asp-controller="Instrument" asp-action="Delete" asp-route-id="@instrument.InstrumentId" 
                        asp-route-slug="@instrument.Slug" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<a asp-controller="Instrument" asp-action="Add" class="btn btn-info">Add New Instrument</a>
<br />
<br />